language: python
jobs:
  include:
    - name: "Python 3.7 on Bionic Linux"
      os: linux
      dist: bionic
      python: 3.7
    - name: "Python 3.7.4 on macOS"
      os: osx
      osx_image: xcode11.2   # Python 3.7.4 running on macOS 10.14.4
      language: shell        # 'language: python' is an error on Travis CI macOS
    - name: "Python 3.7 on Windows"
      os: windows            # Windows 10.0.17134 N/A Build 17134
      language: shell        # 'language: python' is an error on Travis CI Windows
      before_install:
        - choco install python --version 3.7
        - python -m pip install --upgrade pip
      env: PATH=/c/Python37:/c/Python37/Scripts:$PATH
install:
  - pip3 install --upgrade pip  
  - pip3 install --upgrade pyinstaller
  - pip3 install --upgrade flake8
script:
  - flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
  - pyinstaller gam.py --onefile
